
.gradle/

.idea/caches
.idea/libraries
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml

*.iml

local.properties

build
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/runConfigurations.xml
.idea/kotlinc.xml
.idea/migrations.xml
.idea/appInsightsSettings.xml
.idea/androidTestResultsUserPreferences.xml
.idea/deploymentTargetDropDown.xml
